@import url('https://fonts.googleapis.com/css?family=Kodchasan:700|Kodchasan:400');

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Kodchasan';
  font-weight: 400;
  background-color: #171918;
  color: #AFB5AD
}
a {
  color: #AFB5AD
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 5vh auto 2vh auto;
}

.img {
  width: 2rem;
}

#nextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #AFB5AD;
  border-radius: 10px;
  padding: 2rem;
}

#nextTittle {
  margin: 0;
}

#imgNext {
  width: 5rem;
  height: 5rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


h1, h2, h3, h4, h5 {
  font-family: 'Kodchasan';
  font-weight: 700;
}

.flex {
  align-items: center;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  width: 650px;
}

.margin-top {
  margin-top: 5em;
}